

%card {
  padding: 24px;
  background-color: var(--clr-secondary);
  border-radius: var(--brd-rad-sml);
  box-shadow: var(--shdw);
}
%input {
  border-radius: var(--brd-rad-sml);
  font-size: 21px;
  background: var(--clr-inpt);
  padding: 3px 10px;
}
%textarea {

}
%only-for-mobile {
  @media (min-width: var(--phone)) {
    display: none;
  }
  @media only-for-desktop {
    @media (max-width: var(--phone)) {
      display: none;
    }
  }
}
%mobile-full-screen {
  @media (max-width: var(--phone)) {
    border: none;
    width: 100%;
    height: 100%;
    box-shadow: none;
  }
}
