@import "app/index";

.error_boundary {
  @extend %card;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 375px;
  min-height: 400px;
  flex-direction: column;

  h1 {
    font-weight: bold;
    color: var(--clr-primary);
    font-size: 120px;
  }
  h2 {
    text-align: center;
    font-weight: var(--fnt-sb);
    font-size: 36px;
    margin-top: 10px;
    color: var(--clr-fnt-pr);
  }
}
