@import "app/index";


.project_card {
  @extend %card;
  width: 100%;
  max-width: 1093px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;


  .priority {
    font-size: var(--fnt-size-semi-lg);
    color: var(--clr-secondary);
    display: flex;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    justify-content: center;
    font-weight: var(--fnt-bold);
    align-items: center;
    background: var(--clr-primary);
    margin-left: var(--grid-gap);
    @extend %loading;
    @media (max-width: 567px) {
      width: 35px;
      height: 35px;
    }
  }

  .time {
    display: inline-flex;
    width: 40%;
    align-items: center;

    justify-content: flex-end;

  }

  .data_wrapper {
    flex-grow: 1;
    display: inline-flex;
    height: auto;
    gap: 5px;

    & > div {
      width: 100%;
    }

    @media (max-width: 767px) {
      display: none;

    }
  }

  .title_wrapper {
    width: 70%;

  }
}

.projects_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project_info_el {
  @extend %card;
  @extend %loading;
  display: flex;
  align-items: center;
  padding: 10px 24px;
  gap: 10px;

  & > div:first-child {
    width: 100%;
  }

}