@import './styles/index.';
@import "@fontsource/inter";
@import "./styles/adaptive";

* {
  font-family: 'Inter', serif;
  box-sizing: border-box;
}
body {
 min-height: 100%;
  padding: 0;
}
#root {
  height: 100%;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
