@import "app/index";

.project_timer {
  @extend %card;
  display: inline-flex;
  width: 50%;
  justify-content: space-between;
  grid-area: timer;
  @media(max-width: 767px) {
    width: 100%;
  }
  .timer_wrapper {
    display: inline-block;
    margin-bottom: 10px;
  }

  .button_block {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .play_button_wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: 20px;
      transform: translate(-50%, -50%);
    }

  }
}