
.content_container {
  margin-top: 106px;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  padding: 0 var(--grid-gap);
  position: relative;
  left: 0;
  .content {
    height: 100%;
    width: 100%;
    max-width: 1093px;

  }
  @media (max-width: 567px) {
    margin-top: calc(var(--grid-gap) * 2);
    margin-bottom: 106px;
  }

}