
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .title_block {
    width: 100%;
    justify-content: space-between;
    display: flex;
    @media (max-width: 767px) {
      flex-direction: column;
    }
    .title_wrapper {
      width: 100%;
      display: flex;
      align-items: center;
    }
    .sort {
      width: 100%;
      flex-grow: 1;
      display: flex;
      gap: 10px;
    }
  }
  .nothing_found, .create_button {
    width: 100%;

    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .paginator_wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
  }
}