@import "app/index";

.program_card {
  cursor: pointer;
  @extend %card;
  @extend %loading;
  padding: 12px 8px;
  display: inline-block;
  transition: .3s;
  border: 3px solid transparent;
  background: var(--clr-secondary);
  &[data-active=true] {
    background: var(--clr-primary);
    h5 {
      color: var(--clr-secondary);

    }
  }
  &:hover {
    border-color: var(--clr-primary);
  }
}

.programs_list {
  display: flex;
  gap: 10px;
}