

.user_data_block {
  cursor: pointer;
  display: flex;
  gap: 10px;
}
.header_navbar_container {
  position: relative;
}
.header_content {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}
.header_navbar_menu_burger {
  @media (min-width: 1787px) {
    display: none;
  }
}
.navbar_header {
  @media (max-width: 567px) {
    display: none;
  }
  .header_profile_menu_block {
    display: flex;
    gap: 20px;
  }
}
