
.user_data_block {
  cursor: pointer;
  display: flex;
  gap: 10px;
}
.timer_block {
  display: flex;
  align-items: center;
  .timer_button_wrapper {
    margin-left: 5px;
  }

}
.header_navbar_container {
  position: relative;
}
.header_content {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
}
