@import 'app/index';

.profile_card {
  @extend %card;
  display: flex;
  width: 100%;
  position: relative;
  max-width: 1093px;
  .data {
    flex-grow: 1;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title_wrap {
      display: flex;
      width: 100%;
    }
    .data_set {
      display: flex;
      gap: 10px;
    }
  }
  .edit_button {
    position: absolute;
    right: 10px;
    top: 10px;
    img {
      width: 30px;
      height: 30px;
    }
  }

}